.nav-component {
    width: 100%;
    background-color: #fff;
    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 1px 2px 7px #ccc;
}

.component {
    width: 90%;
    margin: auto;
    display: flex;
}

.navbar {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    padding-bottom: 10px;
    box-shadow: 10px #ccc;
}

.logo h1 {
    color: #333;
    font-weight: bold;
}

.icon {
    color: gold;
    margin-right: 10px;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
}

.menu ul li {
    list-style-type: none;
    margin-left: 20px;

}

.menu ul li a {
    font-size: 13px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border-bottom: 0;
}