* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  overflow-x: hidden; 
}

.main-component {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App {
  width: 20%;
  height: 100%;
}

.App2 {
  width: 75%; 
  margin: 0 auto;
}

.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Staff-section {
  width: 70%;
  margin: 0 auto;
}

.Calender-section {
  width: 30%;
  margin: 0 auto;
}

.Teach-section {
  width: 70%;
  margin: 0 auto;
}

.Course-section {
  width: 30%;
  margin: 0 auto;
}

.Db-section {
  width: 70%;
}

.Schedule-section {
  width: 30%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
} 